<div>Hello World!</div>
<div>Dev Mode {{isInDevMode}}</div>
<div>{{(storage | async)?.usage | number}} KB / {{(storage | async)?.quota  | number}} MB</div>

<h1>A very simple liveQuery() example</h1>

<div *ngFor="let todoList of todoLists$ | async; trackBy: identifyList">
    {{todoList | json }}
</div>
<label>
    Add new list:
    <input
            autocomplete="off"
            type="text"
            id="name"
            #name
            [(ngModel)]="listName"
    />
</label>

<button type="submit" (click)="addNewList()">Add new list</button>

<h3>File upload</h3>
<input type="file">

<h3>Reset Database</h3>
<button (click)="resetDatabase()">Reset Database</button>

<blockquote>{{iosDbs}}</blockquote>

<ng-container *ngIf="currentLocationError" [ngSwitch]="currentLocationError?.message">
    <ng-container *ngSwitchCase="'User denied Geolocation'">
        <h4>Please activate Geolocation</h4>
        <ol class="safari">
            <li>Settings > Privacy > Location Services</li>
            <li>Settings > Safari > Location</li>
            <li>Settings > General > Reset > Reset Location Warnings</li>
        </ol>
        <ol class="other">
            <li>First, check that your phone has location enabled. Go to Settings -> Connections -> Location and enable if necessary.</li>
            <li>When Chrome is open, click the dots in the upper right corner to open up the context menu</li>
            <li>Go to Settings -> Site Settings -> Location</li>
            <li>Make sure the "Location" switch is enabled</li>
            <li>Check the "Blocked" and "Allowed" lists by tapping them. If Logether is blocked, remove it by selecting it and tapping "Clear & Reset". This will reset all permissions for the Envirate App.</li>
            <li>Go back to the app. Now the app asks for your permissions to use your device's location. Select "Allow". Now you're good to go!</li>
        </ol>
    </ng-container>
</ng-container>
<blockquote>{{currentLocationError | json}}</blockquote>
