/* You can add global styles to this file, and also import other style files */

.safari {
  display: none;
}

// Safari 9+
@supports (-webkit-hyphens:none) {
  .safari {
    display: block
  }
  .other {
    display: none;
  }
}
// Safari 6.2, 7.1+
_::-webkit-full-page-media, _:future, :root .safari {
  display: block;
}
_::-webkit-full-page-media, _:future, :root .other {
  display: none;
}
